*{margin:0; padding:0;}
li{list-style-type:none;}
header, footer, section{display:block;}
a:link, a:visited{text-decoration:none; color:#000;}
img{border:none;}
input{border:none;}
input[type="button"], button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;}
input[type="submit"], input[type="reset"], input[type="button"], button{cursor:pointer;}
input:focus{outline:none;}

legend{width:0px; height:0px; text-indent:-9999px; display:none;}
fieldset, select{border:none;}
body{font-family: 'Roboto', sans-serif;}