<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mycompany.myapp.mapper.MemberMapper">

  	<insert id="memberJoin">
  	INSERT INTO userTbl values(#{uid}, #{upass}, #{name}, #{nickname}, #{email},#{postCode}, #{address},#{addressSpecific} ,now(), 1, 1)
  	</insert>


  	<select id="memberLogin" resultType="com.mycompany.myapp.vo.MemberVO">
  	SELECT uid, upass FROM userTbl WHERE uid=#{uid} AND upass = #{upass}
  	</select>
  	
  	
  	<update id = "memberUpdate">
  	UPDATE userTbl SET uid = #{uid}, name = #{name}, upass = #{upass}, email = #{email}, address =#{address}, 
  	nick=#{nickname}, postCode=#{postCode}, address=#{address}, addressSpecific=#{addressSpecific}
  	WHERE uid = #{uid}

  	</update>
  	
  	
  	<select id="memberview" resultType="com.mycompany.myapp.vo.MemberVO">
  	SELECT uid,name,upass,email,address,postCode,addressSpecific,nickname FROM usertbl
  	</select>
  	
  	
  	<delete id ="memberdelete" parameterType="String">
  	DELETE FROM usertbl where uid= #{uid}
  	</delete>
  	
  </mapper>
  
