@charset "UTF-8";

/* /////////////////////////////공통 부분인데 */
/* 폰트 초기화 */
body,input,textarea,select,button,table { font-size: 16px; font-family: "Noto Sans KR"; color: #000; } 
/* 제목 태그 초기화 */
h1,h2,h3,h4,h5,h6 { font-size: 16px; font-weight: normal; }
/* placeholder 폰트 색상 */
::placeholder{
	color: #ccc;
}
/* /////////////////////////////공통 부분인데 */

/* common */
section {
  /* background-color: #aaa; */
  width: 100%;
  height: calc(100vh - 150px);
/*   padding-top: 100px; */
  box-sizing: border-box;
}

.container {
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}
/* //common */

.contents {
/* 	padding-top: calc(26vh - 160px); */
padding-top: calc(30vh - 215px);
}

/* 부제목 */
h3.subTitle {
	margin-bottom: 20px;
	font-size: 28px;
}
/* 인풋 영역 */
.write_wrap {
	
}

.write_wrap #writeForm {
	overflow: hidden;
}

.write_wrap #writeForm .input_wrap {
	margin-bottom: 10px;
	/* border-bottom: 1px solid #ccc; */
}

.write_wrap #writeForm .input_wrap input[type="text"] {
	width: 100%;
	height: 50px;
	font-size: 18px;
	border-bottom: 1px solid #ccc;
}

.write_wrap #writeForm .input_wrap textarea {
	width: 100%;
	height: 40vh;
	font-size: 18px;
	border: none;
	resize: none;
	outline: none;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
}
/* 버튼 영역 */
.write_wrap #writeForm .btn_wrap {
	float: right;
}

.write_wrap #writeForm .btn_wrap button {
	width: 80px;
	height: 40px;
	background: #e1e1e1;
	border-radius: 10px;
}

.write_wrap #writeForm .btn_wrap button:hover {
	background: #bbb;
}

.write_wrap #writeForm .btn_wrap button.cancleBtn {
	margin-right: 10px;
}

.write_wrap #writeForm .btn_wrap button.writeBtn {
	
}